nav {
  background-color: #f9f9f9;
  color:#707070;
  position : fixed;
  bottom : 0;
  width : 100%;

}

nav a.menu-tap {
  padding: 10px;
  text-decoration: none;
  color:#707070;
}

nav a.menu-tap--selected{
  color : #523e34;
  text-decoration: none;
}

.menu-tap{
  display: flex;

}
.menu-tap_wrap{
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 0 10px;
  font-size: 20px;
}
.nav_menu{
    display: flex;
    justify-content: space-between;

}

.nav_menu{
  transform: hover
}
